julia/*/.exercism/
julia/*/*.ipynb
java/*/.exercism/
java/*/.settings/
java/*/bin/
java/*/build/
java/*/.classpath
java/*/.gradle/
java/*/.idea/
java/*/gradle/
java/*/.project
java/*/gradlew
java/*/gradlew.bat
java/.idea/