julia/*/.exercism/
julia/*/*.ipynb
java/*/.exercism/
java/*/.settings/
java/*/bin/
java/*/build/
java/*/.classpath
java/*/.gradle/
java/*/.idea/
java/*/gradle/
java/*/.project
java/*/gradlew
java/*/gradlew.bat
java/.idea/
python/*/.exercism/
python/*/__pycache__/
python/*/.vscode
python/*/.idea
kotlin/*/.exercism
kotlin/*/.gradle
kotlin/*/build
kotlin/*/.idea

jq/shopping/.exercism
jq/shopping/.idea
